<a href="https://colab.research.google.com/github/jul1andav1d/Project-2/blob/main/PROJECT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For this task:

Create a Colab notebook where you have uploaded and shown the .head() of each of your data sets.  For each of the proposed datasets, answer the following questions:

#First choice: dataset 1

1) Source of data

2) Brief description of data

3) What is the target?

4) Is this a classification or regression problem?

5) How many features?

6) How many rows of data.

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [1]:
# 1) This dataset i will work on is a sub data set of a collection found here:
#  https://www.kaggle.com/ruslankl/european-union-lgbt-survey-2012

In [2]:
# 2) People from the LGBTQ+ community in the European Union were asked different questions regarding their
# sexual orientation and everyday situations that might be affected. Below I'm focused only
# If they are aware of any laws n the country where they live, 
# that forbids discrimination against persons because of their sexual orientation when applying for a job.

In [3]:
# 3) The target will be the answer column

In [4]:
# 4) Classification

In [5]:
# 5) 

import pandas as pd

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Data Science - Coding Dojo/PROJECT 2 - GITHUB/LGBTQ RIGHT TO WORK.csv')
df.head()

  CountryCode   subset question_code  ...      answer percentage notes
0     Austria  Lesbian            d1  ...         Yes         53   NaN
1     Austria  Lesbian            d1  ...          No         10   NaN
2     Austria  Lesbian            d1  ...  Don`t know         37   NaN
3     Austria      Gay            d1  ...         Yes         45   NaN
4     Austria      Gay            d1  ...          No         16   NaN

[5 rows x 7 columns]

In [7]:
df.isna().sum()

CountryCode          0
subset               0
question_code        0
question_label       0
answer               0
percentage           0
notes             2855
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3770 entries, 0 to 3769
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CountryCode     3770 non-null   object
 1   subset          3770 non-null   object
 2   question_code   3770 non-null   object
 3   question_label  3770 non-null   object
 4   answer          3770 non-null   object
 5   percentage      3770 non-null   object
 6   notes           915 non-null    object
dtypes: object(7)
memory usage: 206.3+ KB

In [9]:
df.shape # 6)

(3770, 7)

In [10]:
# 7) The data set seems to be pretty straight forward, 
#so handling missing values or duplicates seems like an easy task
# BUT, it might be challenging that the whole data set are objects. 
#I will have to deal with those appropriately to be able 
#to focus on my assigned tasks.

#Second choice: dataset 2

1) Source of data

2) Brief description of data

3) What is the target?

4) Is this a classification or regression problem?

5) How many features?

6) How many rows of data.

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [11]:
# 1)
 
#https://archive.ics.uci.edu/ml/datasets/Wine

# 2) 

# These data are the results of a chemical analysis of wines grown in the same region in Italy but derived from three different cultivars. The analysis determined the quantities of 13 constituents found in each of the three types of wines.

# 3)

# 

# 4)

#

In [12]:
# 5) 

import pandas as pd

df2 = pd.read_csv('/content/drive/MyDrive/Data Science - Coding Dojo/PROJECT 2 - GITHUB/wine.data', header = None)
df2.head()

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [19]:
#There are no columns on the dataset
#I looked for a way to get them:

with open('/content/drive/MyDrive/Data Science - Coding Dojo/PROJECT 2 - GITHUB/wine.names') as f:
    print(f.read())

1. Title of Database: Wine recognition data
	Updated Sept 21, 1998 by C.Blake : Added attribute information

2. Sources:
   (a) Forina, M. et al, PARVUS - An Extendible Package for Data
       Exploration, Classification and Correlation. Institute of Pharmaceutical
       and Food Analysis and Technologies, Via Brigata Salerno,
       16147 Genoa, Italy.

   (b) Stefan Aeberhard, email: stefan@coral.cs.jcu.edu.au
   (c) July 1991
3. Past Usage:

   (1)
   S. Aeberhard, D. Coomans and O. de Vel,
   Comparison of Classifiers in High Dimensional Settings,
   Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
   Mathematics and Statistics, James Cook University of North Queensland.
   (Also submitted to Technometrics).

   The data was used with many others for comparing various
   classifiers. The classes are separable, though only RDA
   has achieved 100% correct classification.
   (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
   (All results using the leave-one-out technique)

   In a classification context, this is a well posed problem
   with "well behaved" class structures. A good data set
   for first testing of a new classifier, but not very
   challenging.

   (2)
   S. Aeberhard, D. Coomans and O. de Vel,
   "THE CLASSIFICATION PERFORMANCE OF RDA"
   Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
   Mathematics and Statistics, James Cook University of North Queensland.
   (Also submitted to Journal of Chemometrics).

   Here, the data was used to illustrate the superior performance of
   the use of a new appreciation function with RDA.

4. Relevant Information:

   -- These data are the results of a chemical analysis of
      wines grown in the same region in Italy but derived from three
      different cultivars.
      The analysis determined the quantities of 13 constituents
      found in each of the three types of wines.

   -- I think that the initial data set had around 30 variables, but
      for some reason I only have the 13 dimensional version.
      I had a list of what the 30 or so variables were, but a.)
      I lost it, and b.), I would not know which 13 variables
      are included in the set.

   -- The attributes are (dontated by Riccardo Leardi,
	riclea@anchem.unige.it )
 	1) Alcohol
 	2) Malic acid
 	3) Ash
	4) Alcalinity of ash
 	5) Magnesium
	6) Total phenols
 	7) Flavanoids
 	8) Nonflavanoid phenols
 	9) Proanthocyanins
	10)Color intensity
 	11)Hue
 	12)OD280/OD315 of diluted wines
 	13)Proline

5. Number of Instances

      	class 1 59
	class 2 71
	class 3 48

6. Number of Attributes

	13

7. For Each Attribute:

	All attributes are continuous

	No statistics available, but suggest to standardise
	variables for certain uses (e.g. for us with classifiers
	which are NOT scale invariant)

	NOTE: 1st attribute is class identifier (1-3)

8. Missing Attribute Values:

	None

9. Class Distribution: number of instances per class

      	class 1 59
	class 2 71
	class 3 48

In [22]:
#Getting columns in the dataframe:
df2.columns = ['Drop this column', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols', 
                         'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']

In [21]:
#checking df:
df2.head()

   Drop this one  Alcohol  ...  OD280/OD315 of diluted wines  Proline
0              1    14.23  ...                          3.92     1065
1              1    13.20  ...                          3.40     1050
2              1    13.16  ...                          3.17     1185
3              1    14.37  ...                          3.45     1480
4              1    13.24  ...                          2.93      735

[5 rows x 14 columns]

In [23]:
# 6)

df.shape

(3770, 7)