<a href="https://colab.research.google.com/github/jul1andav1d/Project-2/blob/main/PROJECT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For this task:

Create a Colab notebook where you have uploaded and shown the .head() of each of your data sets.  For each of the proposed datasets, answer the following questions:

#First choice: dataset 1

1) Source of data

2) Brief description of data

3) What is the target?

4) Is this a classification or regression problem?

5) How many features?

6) How many rows of data.

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [1]:
# 1) This dataset i will work on is a sub data set of a collection found here:
#  https://www.kaggle.com/ruslankl/european-union-lgbt-survey-2012

In [2]:
# 2) People from the LGBTQ+ community in the European Union were asked different questions regarding their
# sexual orientation and everyday situations that might be affected. Below I'm focused only
# If they are aware of any laws n the country where they live, 
# that forbids discrimination against persons because of their sexual orientation when applying for a job.

In [9]:
# 3) The target will be the answer column

In [10]:
# 4) Classification

In [11]:
# 5) 

import pandas as pd

In [12]:
df = pd.read_csv('/content/drive/MyDrive/Data Science - Coding Dojo/PROJECT 2 - GITHUB/LGBTQ RIGHT TO WORK.csv')
df.head()

  CountryCode   subset question_code  ...      answer percentage notes
0     Austria  Lesbian            d1  ...         Yes         53   NaN
1     Austria  Lesbian            d1  ...          No         10   NaN
2     Austria  Lesbian            d1  ...  Don`t know         37   NaN
3     Austria      Gay            d1  ...         Yes         45   NaN
4     Austria      Gay            d1  ...          No         16   NaN

[5 rows x 7 columns]

In [13]:
df.isna().sum()

CountryCode          0
subset               0
question_code        0
question_label       0
answer               0
percentage           0
notes             2855
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3770 entries, 0 to 3769
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CountryCode     3770 non-null   object
 1   subset          3770 non-null   object
 2   question_code   3770 non-null   object
 3   question_label  3770 non-null   object
 4   answer          3770 non-null   object
 5   percentage      3770 non-null   object
 6   notes           915 non-null    object
dtypes: object(7)
memory usage: 206.3+ KB

In [15]:
df.shape

(3770, 7)

In [7]:
# 6) The data set seems to be pretty straight forward, besides handling missing values or duplicates, 
# I should be able to focus on my assigned tasks.

#Second choice: dataset 2

1) Source of data

2) Brief description of data

3) What is the target?

4) Is this a classification or regression problem?

5) How many features?

6) How many rows of data.

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

In [8]:
# 1)
    
# Harmonized COVID-19 Household Monitoring Surveys
#Source: https://datacatalog.worldbank.org/search/dataset/0037769/Harmonized-COVID-19-Household-Monitoring-Surveys

# 2) 

# Data contains info about socioeconomic impacts on households and individuals.

# 3)

#